# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/cochat
ASYNC_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/cochat
MASTER_USER_ID=1

# Redis
REDIS_URL=redis://localhost:6379/0

# Discord
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://cochat-for-buisness-backend.onrender.com/api/v1/integrations/discord/callback

# Slack
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=https://cochat-for-buisness-backend.onrender.com/api/v1/integrations/slack/callback
SLACK_SIGNING_SECRET=
